@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 1em;
    font-size: 2em;
    max-width: 80vw;
}

section {
    color: #FFF;
    scroll-snap-align: start;
}

p {
    width: 80vw;
    line-height: 1.25;
    text-align: justify;
}

p#author {
    text-align: center;
}

.parallax {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: 2em;
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header a {
    color: #FFF;
    text-decoration: none;
}

header

header a:hover {
    text-decoration: underline;
}

.imgcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgcontainer img {
    width: 50vw;
}

button {
    line-height: 1;
    width: 4rem;
    height: 4rem;
    background-color: #FFF;
    color: #000;
    border: none;
    font-size: 3rem;
}

p#author a {
    text-decoration: none;
    color: #FFF;
}

#section11 h2 {
    margin: 0;
}

#section1, #section2, #section3, #section9, #section10, #section11 {
    background-image: url("./img/backgrounds/main.webp");
}

#section4 {
    background-image: url("./img/backgrounds/mercedes.webp");
}

#section5 {
    background-image: url("./img/backgrounds/ferrari.webp");
}

#section6 {
    background-image: url("./img/backgrounds/mclaren.webp");
}

#section7 {
    background-image: url("./img/backgrounds/redbull.webp");
}

#section8 {
    background-image: url("./img/backgrounds/williams_aston.webp");
}

@media (max-width: 768px) {
    .parallax {
        font-size: 1em;
    }

    .imgcontainer img {
        width: 70vw;
    }

    button {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}

@supports (-webkit-touch-callout: none) {
    .parallax {
        background-attachment: scroll;
    }
}